.pubmed .user-alert {
  position: fixed;
  z-index: 10;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

.pubmed #ajax-warning {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #2C9ECC;
  opacity: 0.8;
  z-index: 10000;
}

.pubmed #ajax-warning .img {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.pubmed #ajax-warning .img img {
  max-width: 100%;
  opacity: 0.8;
}

.pubmed .container-fluid {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.pubmed #action-buttons {
  margin: 10px 0;
}

.pubmed .modal .modal-header h2 {
  padding-bottom: 0;
  color: white;
}